.navbar {
  background-color: rgb(61, 58, 57);
  width: 100vw;
  margin-bottom: 15px;
  color: white;
  padding: 0 50px;
}
.navbar-brand {
  color: white;
}
.container-fluid {
  /* border: 2px solid black; */
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.body-right {
  width: 20%;

  text-align: center;
  /* border: 1px solid blueviolet; */
}

.body-right ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}
.signout i {
  font-size: 30px;
  color: rgb(15, 173, 62);
}
